$space: 10px;
$margin-nav: 40px;
$primery_1: rgb(222, 222, 222);
$secondery_1: rgb(234, 101, 53);

//General
a {
  text-decoration: none;
  color: black;
}

.home-page {
  background-color: #141412;
  color: #eeebe4;
  min-height: 100vh;
  padding-top: 96px;
}

@media only screen and (max-width: 600px) {
  .home-page {
    padding-top: 0;
  }
}
